@import "tailwindcss";

@font-face {
  font-family: 'Smythe';
  src: url('/Fonts/Smythe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, .heading {
    font-family: 'Smythe', serif;
}