@import "tailwindcss";

main {
  @apply min-h-screen flex justify-center items-center bg-[#000910];
  background: linear-gradient(
    190deg,
    #039FF1 0%,
    #074F88 9%,
    #005698 20%,
    #001423 32%,
    #000910 50%,
    #000000 100%
  );
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #000;
}

@keyframes flicker {
  0%, 100% {
    box-shadow: 0 0 15px rgba(0, 191, 255, 0.3),
                0 0 30px rgba(0, 191, 255, 0.2),
                0 0 45px rgba(0, 191, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.1),
                0 0 20px rgba(0, 191, 255, 0.05),
                0 0 30px rgba(0, 191, 255, 0.03);
  }
}


.container {
  @apply w-[90%] 
    max-w-[400px] sm:max-w-[500px] md:max-w-[600px] lg:max-w-[700px]
    sm:min-h-[350px] md:min-h-[400px] lg:min-h-[420px]
    rounded-2xl bg-[#1e293b] border border-cyan-600 border-solid
    p-6 sm:p-8 md:p-10 text-white mt-[60px]  ;

  animation: flicker 2s infinite ease-in-out;
}


.login{
  @apply flex flex-col justify-center 
}

.login h2 {
  @apply text-2xl font-semibold mb-8 text-white;
}

.label {
  @apply block text-sm font-medium mb-1 text-gray-300 ;
}
.label p{
  @apply mb-2;
}

.login input {
  @apply w-full mb-4 px-4 py-2 pr-10
  rounded-md border border-gray-600 
  bg-[#334155] text-white placeholder-gray-400 
  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.options {
  @apply flex justify-between items-center mb-5 text-sm;
}

.remember {
  @apply flex items-center gap-0 text-gray-300 whitespace-nowrap;
}

.checkbox{
  @apply w-[20px] h-[20px] mr-[10px] mt-[15px];
}

.forgot {
  @apply text-blue-400 hover:underline;
}

.login-btn {
  @apply w-[200px] py-2 text-white rounded-lg mx-auto block
  bg-gradient-to-r from-[#1e40af] to-[#38bdf8] 
  hover:from-[#1d4ed8] hover:to-[#0ea5e9] transition;
}

.signup-text {
  @apply mt-4 text-center text-sm text-gray-300;
}

.signup-link {
  @apply text-blue-400 hover:underline;
}
